<div class="card">
  <div class="card-header bg-success text-light">
    <h1>About Us</h1>
  </div>
  <div class="card-body text-success">
    <p>We are a team of active people providing a social network for recreational and professional sports people.
    Organize your sports events and keep a digital rolodex with our powerful organisation web-app.</p>
    <%= image_tag("pics/beachvolleyball")%>
    <p class="text-success">
    <i>Our motto: "FABA... For Athletes, By Athletes."</i></p>
  </div>
</div>


