<div class="card">
  <div class="card-header bg-success text-light">
    <h1>Add New Colleague</h1>
  </div>
  <div class="card-body">
    
    <p class="card-text"><%= render 'form', colleague: @colleague %>
<br/>
<%= link_to 'Back', colleagues_path, class:"btn btn-outline-danger" %>
</p>
    
  </div>
</div>


